name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      echo:
        image: docker.io/jmalloc/echo-server:latest
        ports:
          - "8080:8080"

    steps:
      - uses: actions/checkout@v3.5.1
      - uses: erlef/setup-beam@v1.15.3
        with:
          otp-version: "28"
          gleam-version: "1.14.0"
          rebar3-version: "3"
          # elixir-version: "1.14.2"
      - run: gleam format --check src test
      - run: gleam deps download
      - run: gleam test
